*.npy
*.log
*.pyc
/dataset/
/datasets/
/logs/
/dataset/data/tmp/
#*.npz
*.t7
*.txt
#*.pk
*.pt
*.png
*.idea
*.iml
/data/film

*.iml
.idea/*
.idea/GraphSHA.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspection/Project_Default.xml

# Python
__pycache__/
*.pyc