*.npy
*.log
*.pyc
/dataset/*
#!dataset/.gitkeep   # datasets to download and generate after running.
/logs/
#*.npz
*.t7
*.txt
#*.pk
*.pt
*.png
*.idea
*.iml
/data/film
.idea/*   # JetBrains IDE settings
lightning_logs/*
